{% extends 'base.html' %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
<ul>
    <li>
        <a href=" {% url 'index' %}"> Главная страница</a>
    </li>
    {% for item in menu %}
    <li>
        <a href=" {% url item.url_name %}">
            {{ item.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<ul>
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <h2>{{ p.title }}</h2>
        <p> {{ p.content }} </p>

        <p>
            <a href="{% url 'post' p.id %}">Читать пост</a>
        </p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}